<ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
        <button class="btn">
            <a class="nav-link" aria-current="page" routerLink="/app-monitor" routerLinkActive="active" ariaCurrentWhenActive="page">Monitors</a>
        </button>
    </li>
    <li class="nav-item">
        <button class="btn">
            <a class="nav-link active" routerLink="/app-calendar" routerLinkActive="active" ariaCurrentWhenActive="page">Acitivities</a>
        </button>
    </li>
</ul>